body{
	background-image: url("img/plant.jpg");
	color:#fff;
	background-attachment:fixed;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-family: 'Open Sans', sans-serif;
	position:relative;
}

.head{
  width: 100%;
  height: 100vh;
}

.login{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 110px;
  background-color:#005f40;
  position: fixed;
  border-bottom: 5px solid white
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 20px;
  width: 380px;
}

.button {
  margin: auto;
  width: 160px;
}

.button1 {
  margin: auto;
  margin-right: 20px;
}

.login img{
  margin-left: 30px;
}

.button a{
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size:20px;
	font-weight:400;
  padding-left: 10px;
}

.button1 a{
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size:20px;
	font-weight:400;
  padding-left: 10px;
  border-left: 1px solid white;
}

.presentation{
  white:100%;
  margin: auto;
  height: 53.6%;
	background-image: url("img/plantation.png");
	background-attachment:fixed;
}

.presentation h1{
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-size: 4em;
  font-weight: 700;
  padding-top: 200px;
  text-align: center;
}

.presentation h2{
  margin: auto;
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
  font-weight: 500;
}

.tours{
  display: flex;
  justify-content: space-between;
	margin: auto;
  height: 600px;
  width: 100%;
  padding: 0px;
  background-color: #005f40;
  border-bottom: 5px solid white;
}

.tours img{
  margin-right: 3.6%;
  margin-top: 3.6%;
	border: 5px solid white;
}

.trip{
  display: flex;
  justify-content: space-around;
  height: 600px;
  width: 100%;
  padding: 0px;
  background-color: #005f40;
  border-bottom: 5px solid white;
}

.trip img{
  margin-top: 3.6%;
	margin-left: 3.6%;
	border: 5px solid white;
}

.transfer{
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  padding: 0px;
  background-color: #005f40;
  border-bottom: 5px solid white;
}

.transfer img{
  margin-right: 3.6%;
  margin-top: 3.6%;
	border: 5px solid white;
}

.hot{
  display: flex;
  justify-content: space-around;
  height: 600px;
  width: 100%;
  padding: 0px;
  background-color: #005f40;
}

.hot img{
  margin-top: 3.6%;
	margin-left: 3.6%;
	border: 5px solid white;
}

.text h1{
  margin:auto;
  font-family: "Rubik", sans-serif;
  font-size: 4em;
  font-weight: 700;
  padding-top: 180px;
  text-align: center;
}

.text p{
  margin:auto;
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  font-weight: 500;
  padding-top: 30px;
  text-align: center;
}

footer {
	display:flex;
	justify-content:space-between;
	width:100%;
  height: 100px;
	margin:0 auto;
	background-color: #00452E;
}

footer p{
  padding-bottom: 10px;
	margin-left: auto;
  font-family: "Rubik", sans-serif;
  color: #005f40;
  font-size: 1.5em;
  font-weight: 400;
}

.links {
	padding-top: 25px;
	width: 410px;
	display: flex;
	justify-content: flex-end;
}

footer img{
  padding-right: 40px;
}
