body{
  margin: 0;
}


.top{
  background-color: #292929;
  width: 100%;
  text-align: center;
  margin: 0;
}

.top h3{
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.top h2{
  margin-top: 0;
  color: #FA9337;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3px;
}



.text{
  width: 43%;
}

.content{
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text h4{
  padding-left: 7px;
  text-align: left;
  color: #E5E8EC;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  margin-top: 25px;
}

.text p{
  text-align: left;
  color: white;
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}



.img{
  width: 44%;
  padding-right: 4%;
  padding-top: 3%;
}

.img img{
  width: 100%;
}



.button{
  height: 80px;
  width: 40%;
  background-color: #FA9337;
  border-radius: 10px;
}

.button p{
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  padding-top:8%;
}


.mid{
  width: 100%;
  text-align: center;
}

.mid h1{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #3298F2;
  font-size: 1.3em;
  font-weight: bold;
}

.mid h2{
  margin-top: 0;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 2em;
  font-weight: bold;
}


.blocks{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block{
  width: 20%;
  border-radius: 15px;
  border: 1px solid #3298F2;
  height: 100%;
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px #E5E8EC;
}

.block p{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #3298F2;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 0;
}

.block img{
  width: 20%;
  border-radius: 15px;
  border: 1px solid #3298F2;
}

.butt{
  height: 50px;
  background-color: #E5E8EC;
  border-radius: 15px;
}

.butt p{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  font-size: 1em;
  text-decoration: none;
  padding-top: 17px;
}

.parntner{
  width: 100%;
  height: 600px;
  background-image: url("partner.png");
  display: flex;
  justify-content: space-between;
}

.photo{
  height: 80%;
  width: 30%;
  padding-left: 70px;
  padding-top: 150px;
}

.photo img{
  width: 100%;
}

.photo p{
  text-align: center;
  color: grey;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}


.logos{
  width: 60%;
}

.logos h1{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}

.logos h2{
  margin-top: 0;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #3298F2;
  font-size: 2em;
  font-weight: bold;
}

.pics{
  margin-top: 70px;
  display: flex;
}

.pics img{
  padding-left: 30px;
}

.footer{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.footer p{
  width: 1500px;
  text-align: left;
  font-family: Roboto, sans-serif;
  color: white;
  padding-left: 10px;
}

.footer img{
  margin-top: 5px;
  background-color: white;
  height: 40px;
  border-radius: 5px;
}
